*ADEChallengeData2016*
*annotations_instance.tar*
*__pycache__*
*MultiScaleDeformableAttention*
tests/preds*
*\.o
*ninja*
*lib.linux*
.vscode*
*missed_objects*
*examples*
*box-masks*

datasets/coco/*
datasets/cityscapes/*
datasets/VOCdevkit/*
datasets/pascal*
datasets/mapillary_vistas*
logs/*
output/*
fcclip_cocopan.pth
wandb/*
LR*

TORCH*
TEST*
TRAIN*
TUNE*
EVAL*
REDO*
BEST_MODEL_TUNE_SEG_HEAD*
ABLATION*
*run_train.sh
*run_generate_preds.sh
*run_evaluation.sh
*tfevents*

dl_project*
Mutual*
visuals*
RC_LOSS*
NO_DIST_*
NO_FREEZE_*
DIST*
RECLIP*
interesting*
out/*
Out*
maft_configs/*