detail.egg==info
detectron2.egg==info
fvcore==0.1.5.post20221221
matplotlib==3.10.8
MultiScaleDeformableAttention==1.0
numpy==2.4.3
open_clip_torch==2.24.0
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
panopticapi==0.1
Pillow==12.1.1
pycocotools==2.0.8
scipy==1.17.1
setuptools==60.2.0
Shapely==2.1.2
tabulate==0.9.0
torch==2.5.1
torchvision==0.20.1
tqdm==4.65.2